@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 223;
  --bg: #f5f5f5;
  --primary: #000;
  --fg: #fff;
  --trans-dur: 0.3s;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f0f0f0;
  margin-right: 4%;
}
@media (max-width: 920px) {
  body {
    background-color: #f0f0f0;
    margin-right: -50%;
  }
}
@media (max-width: 550px) {
  body {
    background-color: #f0f0f0;
    margin-right: -80%;
  }
}
@media (max-width: 450px) {
  body {
    background-color: #f0f0f0;
    margin-right: -104%;
  }
}
@media (max-width: 400px) {
  body {
    background-color: #f0f0f0;
    margin-right: -130%;
  }
}
@media (max-width: 340px) {
  body {
    background-color: #f0f0f0;
    margin-right: -130%;
  }
}
