@media (max-width: 920px) {
  .randomGap {
    gap: 380px;
  }

  .randomImage1 {
    width: 150px;
    height: 250px;
  }
  .randomImage {
    width: 150px;
    height: 250px;
  }
  .randomWidth {
    height: 470px;
    width: 730px;
  }
  .randomStyle {
    position: relative;
    top: -420px;
    margin-bottom: -300px;
  }
}

@media (max-width: 768px) {
  .catText {
    margin-top: 13px;
    font-size: 15px !important;
    color: "#405454";
    font-weight: 600 !important;
    line-height: 30px !important;
    word-wrap: break-word;
  }

  .textImage {
    font-size: 15px;
    color: "#405454";
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;
  }

  .randomGap {
    gap: 250px;
  }

  .randomImage1 {
    width: 120px;
    height: 200px;
  }
  .randomImage {
    /* margin-right: 30px; */
    width: 120px;
    height: 200px;
  }
  .randomWidth {
    height: 410px;
    width: 630px;
  }
  .randomStyle {
    position: relative;
    top: -400px;
    margin-bottom: -300px;
  }
}
